@import "tailwindcss";

@theme {
  --color-main: #EAF2E3;
  --color-text-main: #0F4C75;
  --color-body: #666666;
  --color-header: #333333;

}
@keyframes story-progress {
  from { width: 0%; }
  to   { width: 100%; }
}
.story-progress {
  animation-name: story-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}